# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
venv*/
meuambiente/
.env

# Arquivos grandes
churn_model.pkl
olist_geolocation_dataset.csv
olist_merged_data.csv

# Outros
.DS_Store
*.log

